@page
@model TaskManagement.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Work Assignments</h1>
<h4>Only <a href="/Login">authenticated</a> users are allowed to see work assignments.</h4>

<p>
    <a asp-page="Create">Create New Assignment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].TimePlanned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignment[0].TimeSpent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Assignment)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimePlanned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSpent)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
